:root {
  --primary-color: #BAC095;
  --secondary-color: #636B2F;
  --tertiary-color: #D4DE95;
}

* {
  box-sizing: border-box;
}


/* Styling from index.css pasted here */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Main Navbar Styling */
.navbar {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.navbar a {
  color: var(--tertiary-color);
}


/* Secondary NavBar Styling */
.secondary-navbar {
  display: flex;
  justify-content: space-evenly;
}

.tab-header {
  text-align: left;
  margin-left: 20px;
}

/* Form Styling */
.form-container {
  border: 3px solid var(--tertiary-color);
  width: 100%;
  min-width: 900px;
  padding: 20px;
  border-radius: 10px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid var(--tertiary-color);
  font-size: 13px;
  box-sizing: border-box;
}

form input:focus, form textarea:focus {
  outline: none;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: var(--tertiary-color);
  border: none;
  cursor: pointer;
}

.drop-down {
  width: 50%;
}