:root {
  --primary-color: #BAC095;
  --secondary-color: #636B2F;
  --tertiary-color: #D4DE95;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

/* Main Navbar Styling */
.navbar {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.navbar a {
  color: var(--tertiary-color);
}
/******************/

/* Main Navbar Styling */
.manage-invoices-navbar {
  display: flex;
  justify-content: space-evenly;
}